DJANGO_SETTINGS_MODULE=petLost.settings_dev
DATABASE_URL=postgres://postgres@db:5432/dockerdb
SOCIAL_AUTH_FACEBOOK_KEY={app_id}
SOCIAL_AUTH_FACEBOOK_SECRET={app_key}
GOOGLE_RECAPTCHA_SITE_KEY={key}
GOOGLE_RECAPTCHA_SECRET_KEY={key}
MAILGUN_API_URL={key}
MAILGUN_API_KEY={url}
EMAIL_HOST_PASSWORD={password}
