[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
django-debug-toolbar = "*"
django-extensions = "*"

[packages]
django = "*"
dj-database-url = "*"
psycopg2 = "*"
pillow = "*"
static3 = "*"
django-storages = "*"
dj-static = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
