[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
django-debug-toolbar = "*"
django-extensions = "*"
model-mommy = "*"
ipython = "*"

[packages]
django = "*"
dj-database-url = "*"
pillow = "*"
static3 = "*"
django-storages = "*"
dj-static = "*"
gunicorn = "*"
boto3 = "*"
psycopg2-binary = "*"
django-allauth = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"
