{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}
{% block headers %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block banners %}
    {% load socialaccount %}
    {% providers_media_js %}
    {% language 'pt-BR' %}
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url({% static 'web/img/login-banner-picture.jpg' %});">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 element-animate">
                        <div class="container text-center">
                            <h1 class="display-4 mb-2">Olá, {{ request.user.first_name }}, seja bem-vindo</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endlanguage %}
{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show mb-4" role="alert">
                    <strong>{{ message }}</strong>  {% if message.tags == 'error' %}Por favor revise todos os dados.{% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-6 mb-5 order-2">
                <h2 class="heading mb-4">Dados Pessoais</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="first_name">Nome</label>
                            <input type="text" id="first_name" name="first_name" class="form-control" value="{{ user.first_name }}" {% if not personal_data_form %}disabled{% endif %} required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="last_name">Sobrenome</label>
                            <input type="text" id="last_name" name="last_name" class="form-control " value="{{ user.last_name }}" {% if not personal_data_form %}disabled{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="org_name">Organização</label>
                            <input type="text" id="org_name" name="org_name" class="form-control " value="{{ user.org_name|default:'' }}" {% if not personal_data_form %}disabled{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="description">Descrição</label>
                            <textarea name="description" id="description" class="form-control " cols="30" rows="4" {% if not personal_data_form %}disabled{% endif %}>{{ user.description|default:'' }}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            {% if not personal_data_form %}
                                <a href="{% url 'web:account-profile-change' %}?personal_data=true" class="btn btn-primary">Editar</a>
                            {% else %}
                                <input type="submit" value="Salvar" class="btn btn-primary">
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 mb-5 order-2">
                <h2 class="heading mb-4">Endereço</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="address">Endereço</label>
                            <input type="text" id="address" name="address" class="form-control" value="{{ user.address|default:'' }}" {% if not address_data_form %}disabled{% endif %} required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="number">Número</label>
                            <input type="text" id="number" name="number" class="form-control" value="{{ user.number|default:'' }}" {% if not address_data_form %}disabled{% endif %} required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="complement">Complemento</label>
                            <input type="text" id="complement" name="complement" class="form-control " value="{{ user.complement|default:'' }}" {% if not address_data_form %}disabled{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="district">Bairro</label>
                            <input type="text" id="district" name="district" class="form-control " value="{{ user.district|default:'' }}" {% if not address_data_form %}disabled{% endif %} required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="postal_code">Cep</label>
                            <input type="text" id="postal_code" name="postal_code" class="form-control" value="{{ user.postal_code|default:'' }}" {% if not address_data_form %}disabled{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 form-group">
                            <label for="city">Cidade</label>
                            {% if not address_data_form %}
                                <input type="text" id="city" name="city" class="form-control" value="{{ user.city.name|default:'' }}" disabled>
                            {% else %}
                                {{ address_data_form.city }}
                            {% endif %}
                        </div>
                        {% if not address_data_form %}
                        <div class="col-md-3 form-group">
                            <label for="state">Estado</label>
                                <input type="text" id="state" name="state" class="form-control" value="{{ user.city.state|default:'' }}" disabled>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            {% if not address_data_form %}
                                <a href="{% url 'web:account-profile-change' %}?address_data=true" class="btn btn-primary">Editar</a>
                            {% else %}
                                <input type="submit" value="Salvar" class="btn btn-primary">
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5 order-2">
                <h2 class="heading mb-4">Contato</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="phone_number">Telefone Fixo</label>
                            <input type="text" id="phone_number" name="phone_number" class="form-control" value="{{ user.phone_number|default:'' }}" placeholder="Número com DDD" {% if not contact_data_form %}disabled{% endif %}>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="mobile_phone_number">Celular</label>
                            <input type="text" id="mobile_phone_number" name="mobile_phone_number" class="form-control " value="{{ user.mobile_phone_number|default:'' }}" placeholder="Número com DDD" {% if not contact_data_form %}disabled{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="share_phone">Compartilhar meus números?</label>
                            <input type="checkbox" id="share_phone" name="share_phone" class="form-control " value="{{ user.share_phone }}" style="height: 20px;" {% if user.share_phone %}checked{% endif %} {% if not contact_data_form %}onclick="return false;"{% endif %}>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="share_email">Compartilhar meu email?</label>
                            <input type="checkbox" id="share_email" name="share_email" class="form-control " value="{{ user.share_email }}" style="height: 20px;" {% if user.share_email %}checked{% endif %} {% if not contact_data_form %}onclick="return false;"{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control " value="{{ user.email }}" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            {% if not contact_data_form %}
                                <a href="{% url 'web:account-profile-change' %}?contact_data=true" class="btn btn-primary">Editar</a>
                            {% else %}
                                <input type="submit" value="Salvar" class="btn btn-primary">
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 mb-5 order-2">
                <h2 class="heading mb-4">Redes Sociais</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="url_facebook_profile">Perfil Facebook</label>
                            <input type="url" id="url_facebook_profile" name="url_facebook_profile" class="form-control" value="{{ user.url_facebook_profile|default:'' }}" {% if not social_media_data_form %}disabled{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="url_facebook_page">Página Facebook</label>
                            <input type="url" id="url_facebook_page" name="url_facebook_page" class="form-control" value="{{ user.url_facebook_page|default:'' }}" {% if not social_media_data_form %}disabled{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="url_twitter">Twitter</label>
                            <input type="url" id="url_twitter" name="url_twitter" class="form-control" value="{{ user.url_twitter|default:'' }}" {% if not social_media_data_form %}disabled{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="url_instagram">Instagram</label>
                            <input type="url" id="url_instagram" name="url_instagram" class="form-control" value="{{ user.url_instagram|default:'' }}" {% if not social_media_data_form %}disabled{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            {% if not social_media_data_form %}
                                <a href="{% url 'web:account-profile-change' %}?social_media_data=true" class="btn btn-primary">Editar</a>
                            {% else %}
                                <input type="submit" value="Salvar" class="btn btn-primary">
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_city').select2({
              theme: "classic"
            });
        });
    </script>
{% endblock %}
