<section class="home-slider owl-carousel">
    {%  for banner in banners %}
        <div class="slider-item" style="background-image: url({{ banner.picture.url }});">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 element-animate">
                        <h1>{{ banner.title|default:'' }}</h1>
                        <p class="mb-5">{{ banner.subtitle|default:'' }}</p>
                        <p>
                            {% if banner.button_one %}
                                <a href="{{ banner.button_one_link|default:'' }}" class="btn btn-white btn-outline-white">{{ banner.button_one|default:'' }}</a>
                            {% endif %}
                            {% if banner.button_two %}
                                <a href="{{ banner.button_two_link|default:'' }}" class="btn btn-link btn-white">{{ banner.button_two|default:'' }}</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
