{% extends 'web/base.html' %}
{% block banners %}
{% endblock %}
{% load web_tags %}
{% block content %}
    <div class="div d-none d-xl-block mb-5" style="height: 80px; background-color: black;"></div>
    <div class="section">

        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            {% if not pets %}
                <div class="row justify-content-center mb-5 element-animate">
                    <div class="col-md-8 text-center">
                        <h2 class="heading mb-5">Vamos lá, primeiro cadastre seu Pet</h2>
                        <a class="btn btn-success btn-sm" href="{% url 'web:pet-add' %}">Cadastrar meu Pet</a>
                    </div>
                </div>
            {% else %}
                <h2 class="heading mb-5">Anuncie agora para receber ajuda da comunidade</h2>
                <form method="post">
                    {% csrf_token %}
                    {% for hidden_field in announcement_form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    {% for error in announcement_form.non_field_errors %}
                        <div class="form-control-feedback text-danger">
                            {{ error|translation }}
                        </div>
                    {% endfor %}

                    {% for field in announcement_form.visible_fields %}
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="{{ field.id_for_label }}">{{ field.label|translation }}</label>
                            <div class="col-sm-10">
                                {% if field.field.widget.input_type == 'select' %}
                                    <select name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-control m-input py-0">
                                        {% for choice in field.field.choices %}
                                            <option value="{{ choice.0 }}">{{ choice.1|translation }}</option>
                                        {% endfor %}
                                    </select>
                                {% elif field.field.widget.input_type == 'number' %}
                                    <input type="{{ field.field.widget.input_type }}"
                                       name="{{ field.html_name }}"
                                       id="{{ field.id_for_label }}"
                                       {% if field.value != None %}value="{{ field.value|stringformat:'s' }}"{% endif %}
                                       maxlength="{{ field.field.max_length|default:'' }}"
                                       {% if field.field.required %}required{% endif %}
                                        class="form-control m-input py-0"
                                    >
                                {% elif field.field.widget.input_type == 'checkbox' %}
                                    {{ field }}
                                {% elif field.name == 'description' %}
                                    <textarea name="description" rows="4"
                                              placeholder=""
                                              required="" id="id_description" class="form-control"></textarea>
                                {% else %}
                                    <input type="{{ field.field.widget.input_type }}" class="form-control"
                                           id="{{ field.id_for_label }}"
                                           name="{{ field.html_name }}"
                                           {% if field.value != None %}value="{{ field.value|stringformat:'s' }}"{% endif %}
                                           maxlength="{{ field.field.max_length|default:'' }}"
                                           {% if field.field.required %}required{% endif %}
                                            placeholder="{{ field.field.widget.attrs.placeholder }}">
                                {% endif %}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <div class="form-control-feedback text-danger">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>

            </div>
        {% endif %}
    </div>
    <div class="section">
        <div class="container">
            <div class="row justify-content-center mb-5 element-animate">
                <div class="col-md-8 text-center">
                    <h2 class="heading mb-5">Quer cadastrar um Pet?</h2>
                    <a class="btn btn-success btn-sm" href="{% url 'web:pet-add' %}">Cadastrar meu Pet</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block headers %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_last_seen_city').select2({
              theme: "classic"
            });
        });
    </script>
{% endblock %}
