{% extends 'web/base.html' %}
{% load web_tags %}
{% block content %}
<section class="section blog">
    <div class="container">

        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
                <h2 class=" heading mb-4">Desaparecidos</h2>
                <p class="mb-5 lead">Pets que estão sendo procurados por suas famílias.</p>
            </div>
        </div>

        <div class="row">
            {% pet_list 'lost' %}
        </div>
    </div>
</section>
<section class="section blog">
    <div class="container">

        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
                <h2 class=" heading mb-4">Encontrados</h2>
                <p class="mb-5 lead">Pets que foram encontrados na rua e estão procurando suas famílias.</p>
            </div>
        </div>

        <div class="row">
            {% pet_list 'found' %}
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
    <script>window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>
{% endblock %}
