{% extends 'web/base.html' %}
{% load web_tags %}
{% block content %}
<section class="section blog">
    <div class="container">

        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
                <h2 class=" heading mb-4">Desaparecidos</h2>
                <p class="mb-5 lead">Pets que estão sendo procurados por sua família.</p>
            </div>
        </div>

        <div class="row">
            {% for pet in lost %}
                <div class="col-md-6">
                    <div class="media mb-4 d-md-flex d-block element-animate">
                        <a href="#" class="mr-5"><img src="{{ pet.picture.image.url }}" alt="{{ pet.slug }}" class="img-fluid"></a>
                        <div class="media-body">
                            <span class="post-meta">{{ pet.date_changed.date }}</span>
                            <h3 class="mt-2 text-black"><a href="#">{{ pet.name }}</a></h3>
                            <p>
                                Desaparecido em: <strong>{{ pet.lost_date|date:'d/m/Y' }}</strong><br>
                                Local: <strong>#</strong><br>
                                Sexo: <strong>{{ pet.get_sex_display|translation }}</strong><br>
                                Status: <strong>{% if pet.rescued %}Resgatado{% else %}Não resgatado{% endif %}</strong>
                            </p>
                            <p>Descrição: {{ pet.description }}</p>
                            <p><a href="#" class="btn btn-primary btn-sm">detalhes</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section blog">
    <div class="container">

        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
                <h2 class=" heading mb-4">Encontrados</h2>
                <p class="mb-5 lead">Pets que foram encontrados por alguém e estão procurando suas famílias.</p>
            </div>
        </div>

        <div class="row">
            {% for pet in found %}
                <div class="col-md-6">
                    <div class="media mb-4 d-md-flex d-block element-animate">
                        <a href="#" class="mr-5"><img src="{{ pet.picture.image.url }}" alt="{{ pet.slug }}" class="img-fluid"></a>
                        <div class="media-body">
                            <span class="post-meta">{{ pet.date_changed.date }}</span>
                            <h3 class="mt-2 text-black"><a href="#">{{ pet.name }}</a></h3>
                            <p>
                                Encontrado em: <strong>{{ pet.found_date|date:'d/m/Y' }}</strong><br>
                                Local: <strong>#</strong><br>
                                Sexo: <strong>{{ pet.get_sex_display|translation }}</strong><br>
                                Status: <strong>{% if pet.rescued %}Resgatado{% else %}Não resgatado{% endif %}</strong>
                            </p>
                            <p>Descrição: {{ pet.description }}</p>
                            <p><a href="#" class="btn btn-primary btn-sm">detalhes</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
