{% extends 'web/base.html' %}
{% load static %}
{% load web_tags %}
{% block content %}
{% block banners %}
{% endblock %}
<div class="div d-none d-xl-block" style="height: 80px; background-color: black;"></div>
<section class="section blog">
    <div class="container">

        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
                {% if lost %}
                    <h2 class="heading mb-4">Desaparecidos</h2>
                    <p class="mb-5 lead">Pets que estão sendo procurados por suas famílias.</p>
                    {% if not pets %}
                        <span class="text-warning">Nenhum pet desaparecido cadastrado no momento. Cadastre seu pet ou retorne mais tarde.</span>
                    {% endif %}
                {% elif found %}
                    <h2 class="heading mb-4">Encontrados</h2>
                    <p class="mb-5 lead">Pets que foram encontrados na rua e estão procurando suas famílias.</p>
                    {% if not pets %}
                        <span class="text-warning">Nenhum pet encontrado cadastrado no momento. Cadastre um pet ou retorne mais tarde.</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        {% pet_list %}

        {% if pets.has_other_pages %}
            <nav class="element-animate" aria-label="pagination">
                <ul class="pagination justify-content-end">

                    {% if pets.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ pets.previous_page_number }}" tabindex="-1">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true">&laquo;</a>
                        </li>
                    {% endif %}

                    {% for i in pets.paginator.page_range %}
                        {% if pets.number == i %}
                            <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if pets.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ pets.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true">&raquo;</a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
        {% endif %}

    </div>
</section>
{% endblock %}
{% block js %}
    <script>window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>
{% endblock %}
