{% extends 'web/base.html' %}
{% load static %}
{% block content %}
{% block meta %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="{{ pet.announcement.lost_description }}"/>
    {% if not pet.name %}
        <meta property="og:title" content="PetLost - Ajude um pet a encontrar sua família"/>
    {% else %}
        <meta property="og:title" content="{{ pet.announcement.share_description }}"/>
    {% endif %}
    {% if pet.picture %}
        <meta property="og:image" content="{{ pet.picture.image.url }}" />
        <meta name="twitter:image" content="{{ pet.picture.image.url }}">
    {% else %}
        <meta property="og:image" content="{% static 'web/img/placeholder.png' %}" />
    {% endif %}
{% endblock %}
{% block headers %}
    <link rel="stylesheet" href="{% static 'web/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/dropzone.css' %}">
    <script src="{% static 'web/js/dropzone.js' %}"></script>
{% endblock %}
{% block facebook_sdk %}
    <div id="fb-root"></div>
    <script async defer
            src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.2&appId=1986939548034882&autoLogAppEvents=1"></script>
{% endblock %}
{% block banners %}
{% endblock %}
    <style>
        .comment-wrapper .panel-body {
            max-height:650px;
            overflow:auto;
        }

        .comment-wrapper .media-list .media img {
            width:64px;
            height:64px;
            border:2px solid #e5e7e8;
        }

        .comment-wrapper .media-list .media {
            border-bottom:1px dashed #efefef;
            margin-bottom:25px;
        }
    </style>
<div class="div d-none d-xl-block" style="height: 80px; background-color: black;"></div>
<section class="section element-animate">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row justify-content-center mb-5">
            <div class="col-md-4"></div>
            <div class="col-md-8 section-heading">
                <h2>{{ pet.name|default:'Não Identificado' }}</h2>
                {% if pet.announcement %}
                    {% if not pet.announcement.rescued %}
                        {% if pet.announcement.situation == 'lost' %}
                            <p class="small-sub-heading">Ainda estou desaparecid{% if pet.sex == 'female' %}a{% else  %}o{% endif %}</p>
                        {% else %}
                            <p class="small-sub-heading">Ainda estou procurando minha família</p>
                        {% endif %}
                    {% else %}
                        <p class="small-sub-heading">já encontrei minha família :)</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                {% if pet.picture %}
                    <img src="{{ pet.picture.image.url }}" alt="{{ pet.slug }}" class="img-fluid">
                {% else %}
                    <img src="{% static 'web/img/placeholder.png' %}" alt="{{ pet.slug }}" class="img-fluid">
                {% endif %}
                {% if owner %}
                    <br>
                    <a class="text-dark" href="{% url 'web:pet-change' pet.slug %}">editar cadastro</a>
                {% endif %}
            </div>
            {% if pet.announcement %}
                <div class="col-md-4">
                    <strong>Um pouco sobre mim:</strong> <br>
                    <p>{{ pet.announcement.lost_description|linebreaks }}</p>
                    {% if not pet.announcement.rescued %}
                    <p>
                        <button class="btn btn-success btn-sm">alguma informação sobre mim?</button>
                    </p>
                    {% endif %}
                </div>
            {% endif %}
            <div class="col-md-4">
                {% if pet.description %}
                    <p><strong>O que minha família disse sobre mim:</strong> <br> {{ pet.description|default:'' }}</p>
                {% endif %}
                {% if pet.announcement.description %}
                    <p><strong>Descrição do anúncio:</strong> <br> {{ pet.announcement.description|default:'' }}</p>
                {% endif %}
                {% if not pet.announcement.rescued %}
                    <p><a class="font-weight-bold">Compartilhe</a></p>
                    <ul class="list-unstyled">
                        <li>
                            <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }};src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartilhar</a></div>
                        </li>
                        <li>
                            <a class="twitter-share-button"
                               href="https://twitter.com/intent/tweet?{{ pet.announcement.share_description_encoded }}" target="_blank">
                                Tweet</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="section border-t bg-white element-animate">
<div class="row bootstrap mx-0">
    <div class="container">
        <div class="col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Comentários
                    </div>
                    <div class="panel-body">
                        <form method="post">
                        {% csrf_token %}
                        <textarea required class="form-control" name="description" placeholder="escreva um comentário..." rows="3"></textarea>
                        <br>
                        <button type="submit" class="btn btn-success pull-right">Comentar</button>
                        </form>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            {% for comment in pet.announcement.get_comments %}
                                <li class="media">
                                    <a class="pull-left">
                                        {% if comment.user.socialaccount_set.exists %}
                                            <img src="{{ comment.user.socialaccount_set.all.0.get_avatar_url }}" alt="profile">
                                        {% else %}
                                            <img src="{% static 'web/img/avatar.png' %}" alt="profile" class="">
                                        {% endif %}
                                    </a>
                                    <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted">{{ comment.date_added }}</small><br>
                                            {% if comment.user == request.user %}
                                                <small class="text-muted float-right"><a href="{% url 'web:comment-delete' comment.id %}">deletar</a></small><br>
                                            {% endif %}
                                        </span>
                                        <strong class="text-success">{{ comment.user.first_name|default:'Não Identificado' }}</strong>
                                        <p>{{ comment.description }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</section>

{% if pet.pictures.exists %}
<section class="section border-t bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
                <h2 class=" heading mb-4">Fotos</h2>
            </div>
        </div>

        <div class="row no-gutters">
            {% for picture in pet.pictures.all %}
                <div class="col-md-4 element-animate">
                    <a class="link-thumbnail">
                        <h3>{{ picture.title|default:'' }}</h3>
                        <img src="{{ picture.image.url }}" alt="{{ picture.title|default:'' }}" class="img-fluid">
                    </a>
                    {% if owner %}
                        <p class="text-center">
                            <a class="text-black px-3" href="{% url 'web:pet-pictures-remove' pet.slug picture.id %}">
                                <span class="fa fa-trash"></span>
                            </a>
                            <a class="text-black px-3"
                               href="{% url 'web:pet-pictures-profile-change' pet.slug picture.id %}">
                                <span class="fa fa-paw"></span>
                            </a>
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    </div>
</section>
{% endif %}
{% if owner and pet.pictures.count < 10%}
<section class="section border-t">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-12 text-center">
                <h2 class=" heading mb-4">
                    Adicione fotos
                    {% if pet.name %}
                        d{% if pet.sex == 'female' %}a{% else %}o{% endif %} {{ pet.name }}
                    {% endif %}
                </h2>
                <style>
                    .dropzone {
                        border: dashed 1px black;
                    }
                </style>
                <form action="{% url 'web:pet-pictures-upload' pet.slug %}" class="dropzone" id="dzone" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                </form>
            </div>
        </div>

    </div>
</section>
{% endif %}
{% if owner and not pet.announcement %}
<section class="section border-t">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-12 text-center">
                <h2 class=" heading mb-4">
                    {{ pet.name }} está desaparecid{% if pet.sex == 'female' %}a{% else  %}o{% endif %}?
                </h2>

                <a class="btn btn-sm btn-success" href="{% url 'web:announcement-add' %}">Anuncie Grátis</a>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
{% block js %}
    <script>window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
    </script>

    <script>
        Dropzone.options.dzone = {
            paramName: "image",
            maxFilesize: 2,
            maxFiles: 10,
            autoProcessQueue: true,
            acceptedFiles: "image/jpeg,image/png,image/jpg",
            dictDefaultMessage: "Arraste as imagens aqui ou clique para selecionar.",
            dictInvalidFileType: "Tipo de arquivo não permitido.",
            dictFileTooBig: "Tamanho do arquivo excede o limite de 2 mb.",
        };
    </script>

{% endblock %}
