{% extends 'web/base.html' %}
{% load static %}
{% block content %}
{% block facebook_sdk %}
    <div id="fb-root"></div>
    <script async defer
            src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.2&appId=1986939548034882&autoLogAppEvents=1"></script>
{% endblock %}
<section class="section element-animate">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-4"></div>
            <div class="col-md-8 section-heading">
                <h2>{{ pet.name|default:'Não Identificado' }}</h2>
                {% if not pet.rescued %}
                    {% if pet.situation == 'lost' %}
                        <p class="small-sub-heading">Ainda estou desaparecid{% if pet.sex == 'female' %}a{% else  %}o{% endif %}</p>
                    {% else %}
                        <p class="small-sub-heading">Ainda estou procurando minha família</p>
                    {% endif %}
                {% else %}
                    <p class="small-sub-heading">já encontrei minha família :)</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                {% if pet.picture %}
                    <img src="{{ pet.picture.image.url }}" alt="{{ pet.slug }}" class="img-fluid">
                {% else %}
                    <img src="{% static 'web/img/placeholder.png' %}" alt="{{ pet.slug }}" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-md-4">
                <p>
                    <strong>Um pouco sobre mim:</strong> <br>
                    {% if pet.situation == 'lost' %}
                        Eu desapareci no dia {{ pet.lost_date|date:'d/m/Y' }}.<br>
                    {% elif pet.situation == 'found' %}
                        Fui encontrad{% if pet.sex == 'female' %}a{% else  %}o{% endif %} no dia {{ pet.found_date|date:'d/m/Y' }}.<br>
                    {% endif %}

                    Me viram por último em {{ pet.location_city.data }}, {{ pet.location_detail }}.<br>
                    {% if not pet.sex == 'not_identified' %}
                        {% if pet.sex == 'male' %}
                            Sou um macho.
                        {% elif pet.sex == 'female' %}
                            Sou uma fêmea.
                        {% endif %}
                    {% endif %}
                    {% if not pet.rescued %}
                        <br>
                        Ainda não encontrei minha família, conto com sua ajuda para encontrá-los. <br>
                    {% else %}
                        Fui recuperado por minha família em {{ pet.rescued_date|date:'d/m/Y' }} graças à ajuda de pessoas como você.
                    {% endif %}
                </p>
                {% if not pet.rescued %}
                <p>
                    <button class="btn btn-success btn-sm">me encontrou?</button>
                </p>
                <p>
                    <button class="btn btn-info btn-sm">alguma informação sobre mim?</button>
                </p>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if pet.description %}
                    <p><strong>O que minha família disse sobre mim:</strong> <br> {{ pet.description|default:'' }}</p>
                {% endif %}
                <p><a class="font-weight-bold">Compartilhe <span class="ion-ios-arrow-right"></span></a></p>
                <ul class="list-unstyled d-flex">
                    <li>
                        <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }};src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartilhar</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


{% if pet.pictures.exists %}
<section class="section border-t bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
                <h2 class=" heading mb-4">Fotos</h2>
            </div>
        </div>

        <div class="row no-gutters">
            {% for picture in pet.pictures.all %}
                <div class="col-md-4 element-animate">
                    <a class="link-thumbnail">
                        <h3>{{ picture.title|default:'' }}</h3>
                        <img src="{{ picture.image.url }}" alt="{{ picture.title|default:'' }}" class="img-fluid">
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>
</section>
{% endif %}
{% endblock %}
